body, #app {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

canvas {
    display: block;
    height: 100%;
    width: 100%;
    padding: 0;
}

.overlay {
    position: absolute;
    background-color: grey;
    opacity: 60%;
    margin: 5px;
    padding: 6px;
}

#right_overlay {
    right: 0%;
}
